
.titel{
    font-size: 28px;
    font-weight: 600;
    color: slategray;
    margin-left: 400px;
    margin-bottom: 20px;
}
.data{
    outline: none;
    display: flex;
    justify-content: center;
    
     

}
.data input{
    outline: none;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 20px 40px;
    border: 1px solid tomato;
    border-radius: 20px;
    font-size: 16px;
    box-shadow: 0px 0px 10px blue;   
}
.cart-total1{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 280px;
    margin-top: 20px;
   
    
}
.cart-title1 h2{
    width: 60%;
    font-size: 18px;
    font-weight: 600;
    
}
.cart-total-det1{
    display: flex;
    justify-content: space-between;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 600;
    width: 60%;   
}
.data2{
    color: black;
    position: absolute;
    margin-left: 417px;
    font-size: 15px;
    font-weight: 600;
   
}
.line3{
    margin-left: 0px;
    width: 100%;
    margin-top: 10px;
    background-color: gray;
    height: 1px;
    width: 60%;
}
.cart-total1 button{
    padding: 12px 20px;
    background-color: tomato;
    border: 1px solid black;
    border-radius: 6px;
    margin-top: 25px;
    box-shadow: 0px 0px 10px darkblue;
    color: white;
    font-size: 20px;
    width: 60%;

}
@media (max-width:375px){
    .titel{
    font-size: 18px;
    font-weight: 600;
    color: slategray;
    margin-left: 65px;
    margin-bottom: 20px;
}
.data{
    outline: none;
    display: flex;
    justify-content: center;
}
.data input{
    outline: none;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 8px 18px;
    border: 1px solid tomato;
    border-radius: 20px;
    font-size: 12px;
    box-shadow: 0px 0px 6px blue;
    width: 100%;   
}
.cart-total1{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 20px;
   
    
}
.cart-title1 h2{
    width: 60%;
    font-size: 15px;
    font-weight: 500;
    
}
.cart-total-det1{
    display: flex;
    justify-content: space-between;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    font-weight: 600;
    width: 90%;   
}
.data2{
    color: black;
    position: absolute;
    margin-left: 208px;
    font-size: 13px;
    font-weight: 600;
   
}
.line3{
    margin-left: 0px;
    width: 100%;
    margin-top: 10px;
    background-color: gray;
    height: 1px;
    width: 90%;
}
.cart-total1 button{
    padding: 6px 16px;
    background-color: tomato;
    border: 1px solid black;
    border-radius: 6px;
    margin-top: 25px;
    box-shadow: 0px 0px 8px darkblue;
    color: white;
    font-size: 17px;
    width: 100%;
    margin-left: -10px;

}

}